#print{
    font-size:14px;
    font:areal;
}
#print .table{
    width: 100%;
    font-size:12px;
    font:areal;
    border-collapse: collapse;
    border:1px solid gray;
}
.printcontent td{
    padding: 2px 2px 2px 2px;
    border:1px solid gray;
}

